<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         syntaxCheck="false">
  <testsuites>
    <testsuite name="Tests">
      <directory suffix=".php">Tests</directory>
    </testsuite>
  </testsuites>
<logging>
<!--log type="junit" target="result/logfile.xml" logIncompleteSkipped="false"/-->
</logging>
</phpunit>
